<html>
    <head>
        <title>Signup</title>
    </head>

    <body>
        <form action = "/addUser" method = "POST">
            Username : <input type = "text" name = "usn" />
            Name : <input type = "text" name = "name" />
            Email : <input type = "email" name = "email" />
            Password : <input type = "password" name = "pwd" />
            <input type = "submit" />
            Image : <input type = "file" />
        </form>
    </body>
</html>